# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SysProg-lab2/sh/obj/sh.csproj.nuget.dgspec.json
SysProg-lab2/sh/obj/project.nuget.cache
SysProg-lab2/sh/obj/project.assets.json
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.pdb
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.genruntimeconfig.cache
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.csproj.GenerateResource.cache
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.csproj.FileListAbsolute.txt
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.csproj.CoreCompileInputs.cache
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.assets.cache
SysProg-lab2/Message/Debug/vc142.pdb
SysProg-lab2/Message/Debug/vc142.idb
SysProg-lab2/Message/Debug/Message.tlog/rc.write.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/rc.read.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/rc.command.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/Message.write.1u.tlog
SysProg-lab2/Message/Debug/Message.tlog/Message.lastbuildstate
SysProg-lab2/Message/Debug/Message.tlog/link.write.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/link.read.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/link.command.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/CL.write.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/CL.read.1.tlog
SysProg-lab2/Message/Debug/Message.tlog/CL.command.1.tlog
SysProg-lab2/Message/Debug/Message.res
SysProg-lab2/Message/Debug/Message.log
SysProg-lab2/Message/Debug/Message.dll.recipe
SysProg-lab2/lab2cpp/Debug/vc142.pdb
SysProg-lab2/lab2cpp/Debug/vc142.idb
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/rc.write.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/rc.read.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/rc.command.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/link.write.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/link.read.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/link.command.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/lab2cpp.lastbuildstate
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/CL.write.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/CL.read.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.tlog/CL.command.1.tlog
SysProg-lab2/lab2cpp/Debug/lab2cpp.res
SysProg-lab2/lab2cpp/Debug/lab2cpp.log
SysProg-lab2/lab2cpp/Debug/lab2cpp.exe.recipe
SysProg-lab2/Debug/net5.0-windows/sh.runtimeconfig.json
SysProg-lab2/Debug/net5.0-windows/sh.runtimeconfig.dev.json
SysProg-lab2/Debug/net5.0-windows/sh.pdb
SysProg-lab2/Debug/net5.0-windows/sh.deps.json
SysProg-lab2/Debug/Message.pdb
SysProg-lab2/Debug/Message.ilk
SysProg-lab2/Debug/Message.exp
SysProg-lab2/Debug/lab2cpp.pdb
SysProg-lab2/Debug/lab2cpp.ilk
SysProg-lab2/Debug/7.txt
SysProg-lab2/.vs/sh/v16/Solution.VC.db
SysProg-lab2/.vs/sh/v16/ipch/c7bc91d633f9c6c5.ipch
SysProg-lab2/.vs/sh/v16/ipch/82fd07858e5963a8.ipch
SysProg-lab2/.vs/sh/v16/Browse.VC.db
SysProg-lab2/sh/obj/sh.csproj.nuget.dgspec.json
SysProg-lab2/sh/obj/project.nuget.cache
SysProg-lab2/sh/obj/project.assets.json
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.pdb
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.genruntimeconfig.cache
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.csproj.GenerateResource.cache
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.csproj.FileListAbsolute.txt
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.csproj.CoreCompileInputs.cache
SysProg-lab2/sh/obj/Debug/net5.0-windows/sh.assets.cache
*.cache
